certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
colorzero==2.0
distro==1.8.0
gpiozero==2.0.1
gyp==0.1
idna==3.3
lgpio==0.2.2.0
Mako==1.2.4.dev0
Markdown==3.4.1
MarkupSafe==2.1.2
ntplib==0.4.0
numpy==2.4.0
pigpio==1.78
py==1.11.0
pycryptodomex==3.11.0
Pygments==2.14.0
PyGObject==3.42.2
python-apt==2.6.0
python-crontab==3.3.0
python-dotenv==0.21.0
PyYAML==6.0
pyzmq==24.0.1
requests==2.32.5
rpi-lgpio==0.6
six==1.16.0
smbus2==0.4.2
spidev==3.5
ssh-import-id==5.10
toml==0.10.2
urllib3==1.26.12
websockets==15.0.1
zmq==0.0.0
