[Unit]
Description=Orchestrator realtime Service ANE2 
After=network.target

[Service]
User=anepi

WorkingDirectory=/home/anepi/ANE2-realtime/SDR-SpectrumMonitoring-Sensor/LTE-GPS/

ExecStart=/home/anepi/ANE2-realtime/SDR-SpectrumMonitoring-Sensor/LTE-GPS/venv/bin/python3 server.py

Restart=always

RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sdr-monitor

[Install]
WantedBy=multi-user.target