[Unit]
Description=LTE/GPS C Main Executable Service 
After=network.target

[Service]

User=anepi

WorkingDirectory=/home/anepi/ANE2-realtime/SDR-SpectrumMonitoring-Sensor/LTE-GPS/

ExecStart=/home/anepi/ANE2-realtime/SDR-SpectrumMonitoring-Sensor/LTE-GPS/gps_lte_app


Restart=always
RestartSec=5


StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gps_lte_logic_ane2

[Install]
WantedBy=multi-user.target