[Unit]
Description=LTE/GPS Service
After=network.target

[Service]
User=anepi
WorkingDirectory=/home/anepi/SDR-SpectrumMonitoring-Sensor
ExecStart=/home/anepi/SDR-SpectrumMonitoring-Sensor/ltegps_app

Restart=always
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ltegps-ane2

[Install]
WantedBy=multi-user.target
