[Unit]
Description=Orchestrator Service ANE2
Wants=network-online.target
After=network-online.target

[Service]
User=anepi
# Orchestrator is a continuous process
Restart=always
RestartSec=5

# Wait for internet
ExecStartPre=/bin/bash -c 'until ping -c 1 -W 1 8.8.8.8; do echo "Waiting for internet..."; sleep 5; done'

WorkingDirectory=/home/anepi/SDR-SpectrumMonitoring-Sensor
ExecStart=/home/anepi/SDR-SpectrumMonitoring-Sensor/venv/bin/python3 orchestrator.py

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=orchestrator-ane2

[Install]
WantedBy=multi-user.target
