[Unit]
Description=Orchestrator Service ANE2
After=network.target

[Service]
User=anepi

WorkingDirectory=/home/anepi/SDR-SpectrumMonitoring-Sensor/

ExecStart=/home/anepi/SDR-SpectrumMonitoring-Sensor/venv/bin/python3 orchestrator.py

Restart=always

RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=orchestrator-ane2

[Install]
WantedBy=multi-user.target