[Unit]
Description=SDR PSD C service  
After=network.target

[Service]

User=anepi

WorkingDirectory=/home/anepi/SDR-SpectrumMonitoring-Sensor/

ExecStart=/home/anepi/SDR-SpectrumMonitoring-Sensor/rf_app


Restart=always
RestartSec=5


StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rf_logic_ane2

[Install]
WantedBy=multi-user.target